@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
body {
 
    width: 100vw;
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-color: rgb(244 245 251);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.heading-main {
    text-align: center;
    color: hsl(232, 13%, 33%) ;
    font-size: xx-large;
}

.plans {
    padding: 30px;
    color: rgb(158, 154, 154);
}

.forSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-container .btnToHover:hover {
    background: white;
    color: #7070be;
    border: 1px solid #7070be;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    transition: all 0.3s linear;
    cursor: pointer;

    /* Vendor prefixes */
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.switch::after {
    content: "";
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s linear;

    /* Vendor prefixes */
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

input[type="checkbox"]:checked+.switch:after {
    translate: 2rem 0;
}

input[type="checkbox"]:checked+.switch {
    background-color: #7983ff;
}

input[type="checkbox"] {
    display: none;
}
.box{
    margin-top: 5%;
}
.pricing {
   margin-top: -5%;;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 700;
 
}

.first {
    margin-top: 170px;
    height: 500px;
    width: 300px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(178, 178, 236);
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 700;
    color:rgb(75,77,97);
}

.second {
    margin-top: 150px;
    height: 530px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(237, 63%, 64%);
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(178, 178, 236);
}
.second hr{
 opacity: 0.2;
    color:white;
}
.third {
    color:rgb(75,77,97);
    margin-top: 170px;
    height: 500px;
    width: 300px;
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(112, 193, 218);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(178, 178, 236);
}

.Basic {
    margin-top: 30px;
   
}

.Master {
    margin-top: 32px;
 
}

.prices {
    font-size: xx-large;
    

}
hr{
    opacity: 0.2;
    width: 70%;
    color: #7070be;
}
.Proffesional-prices {
    font-size: xx-large;
   padding-bottom: 30px;
   color: white;
   margin-top: -30px;
  margin-bottom: -40px;
   
}
.button-learn {
    background-color:  hsl(237, 63%, 64%) ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 240px;
    transition: background-color 0.3s, color 0.3s; /* Transition for smooth effect */
}

.button-learn:hover {
 color:hsl(237, 63%, 64%) ;
 background-color: white;
 border: 1px solid hsl(237, 63%, 64%);
 border-radius: 5px ;
    width: 270px;
}

.main-button {
    color:  hsl(237, 62%, 60%);
   background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 240px;
    transition: background-color 0.3s, color 0.3s; /* Transition for smooth effect */
}

.main-button:hover {
    background-color:  hsl(237, 62%, 60%);
    color: white;
    width: 270px;
    border: 1px solid white;
    border-radius: 5px;
}


.toggleSwitch {
    text-align: center;
    margin-bottom: -70px;
    color: black;
}

.Proffesional {
    padding-bottom: 30px;
}

@media (max-width: 475px) {
    body{
        width: auto;
    }
    .box{
        margin-top: 50px;
    }
    .pricing {
        flex-direction: column;
        height: auto;
        width: auto;
        display: flex;
        margin-top: 10%;
        padding: 20px;
        box-shadow: none;
        border-radius: 0;
        border: none;
    }

    .first,
    .second,
    .third {
        margin-top: 20px;
        margin-left: 5px;
        height: auto;
        width: auto;
        justify-content: center;
    }

    .Basic {
        margin-top: 40px;
    }

    .Master {
        margin-top: 40px;
    }

    .Professional {
        margin-top: 40px;
    }

    .toggleSwitch {
        margin-top: -10px;
    }
    .plans{
        font-size: x-small;
    }
}
