@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap");

body {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-color: rgb(244 245 251);
    font-size: 15px;
    font-family: Montserrat;
}

.heading-main {
    text-align: center;
    color: gray;
}

.plans {
    padding: 30px;
}

.forSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-container .btnToHover:hover {
    background: white;
    color: #7070be;
    border: 1px solid #7070be;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    transition: all 0.3s linear;
    cursor: pointer;

    /* Vendor prefixes */
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.switch::after {
    content: "";
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s linear;

    /* Vendor prefixes */
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

input[type="checkbox"]:checked+.switch:after {
    translate: 2rem 0;
}

input[type="checkbox"]:checked+.switch {
    background-color: #7983ff;
}

input[type="checkbox"] {
    display: none;
}

.pricing {
   margin-top: -5%;;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
 
}

.first {
    margin-top: 170px;
    height: 370px;
    width: 300px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(112, 193, 218);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(178, 178, 236);
}

.second {
    margin-top: 150px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(237, 63%, 64%);
    border: 1px solid rgb(112, 193, 218);
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(178, 178, 236);
}

.third {
    margin-top: 170px;
    height: 370px;
    width: 300px;
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(112, 193, 218);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(178, 178, 236);
}

.Basic {
    margin-top: -32px;
    padding: 30px;
}

.Master {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.prices {
    font-size: xx-large;
    border-bottom: 1px solid black;
}

.Proffesional-prices {
    font-size: xx-large;
    padding: 25px;
    border-bottom: 1px solid white;
}

.button-learn {
    background-color: hsl(237, 63%, 64%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-button {
    background-color: white;
    color: hsl(237, 63%, 64%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggleSwitch {
    text-align: center;
    margin-bottom: -70px;
    color: black;
}

.Proffesional {
    padding-bottom: 30px;
}

@media (max-width: 500px) {
    .pricing {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding: 20px;
        box-shadow: none;
        border-radius: 0;
        border: none;
    }

    .first,
    .second,
    .third {
        margin-top: 20px;
        height: auto;
        width: 100%;
    }

    .Basic {
        margin-top: 1px;
    }

    .Master {
        margin-top: 40px;
    }

    .Professional {
        margin-top: 40px;
    }

    .toggleSwitch {
        margin-top: -10px;
    }
}
